// Put any @imports here
// See Readme for a list of supported ones

body {
  background: #DADCDE;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: left;
  display: inline-block;
}

.fa-search-plus:hover {
  cursor: pointer;
}

.fa-search-minus:hover {
  cursor: pointer;
}

.fa-play-circle:hover {
  cursor: pointer;
}

.background {
  margin: auto;
  background: #FAF9F7;
  width: 1100px;
}

.replay-bar {
  display: inline-block;
  vertical-align: top;
  // margin-top: 100px;
  width: 1100px;
  // padding-bottom: 30px;
  max-height: 200px;
  border-left: 1px solid #EDECE9;
  border-right: 1px solid #EDECE9;
  // border-bottom: 1px solid #EDECE9;
  // background: #FAF9F7;
  white-space: nowrap;
  overflow: scroll;
  // text-align: center;
}
.replay-bar::-webkit-scrollbar { 
    display: none; 
}

.info-bar {
  margin-top: 100px;
  width: 1100px;
  border: 1px solid #EDECE9;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FAF9F7;
  color: #788081;
  font-size: 1em;
  div {
    display: inline-block;
    margin-right: 30px;
  }
}

.asset-list {
  vertical-align: top;
  display: inline-block;
  width: 120px;
  // border: 1px solid black;
}

.asset {
  display: inline-block;
  padding-left: 10px;
  li {
    padding-top: 10px;
    height: 40px;
    border-bottom: 1px solid #EDECE9;
    width: 115px;
    color: #788081;
    font-weight: 300;
  }
}

.time-bar {
  display: inline-block;
  white-space: nowrap;
  overflow: scroll;
  #time-bar {
    display: inline-block;
    .slot-row {
      display: block;
      height: 40px;
      .slot {
        display: inline-block;
        width: 100px;
        height: 40px;
        border-left: 1px dotted #EDECE9;
        border-right: 1px dotted lighten(#EDECE9, 20%);
        border-bottom: 1px solid #EDECE9;
      }
    }
  }
}

.time-slot {
  div {
    padding-left: 10px;
    padding-top: 30px;
    // padding-bottom: 10px;
    border-bottom: 1px solid #EDECE9;
    color: #788081;
  }
}

.interval-bar {
  width: 1100px;
  border: 1px solid #EDECE9;
  position: absolute;
  padding-top: 10px;
  padding-bottom: 20px;
  background: #FAF9F7;
  color: #788081;
  font-size: 1em;
  white-space: nowrap;
  overflow: scroll;
  position: relative;
  .spacer {
    display: inline-block;
    width: 120px;
  }
  #interval {
    display: inline-block;
    position: relative;
    div {
      display: inline-block;
      // border: 1px solid red;
      width: 100px;
      // height: 250px;
    }
  }
}

.controls {
  width: 1100px;
  border: 1px solid #EDECE9;
  margin: 10px auto;
  height: 80px;
}



